//Color scheme

//First color scheme
$white: #FFF;
$semi-white:#f2f4f5;

//Second color scheme
$fuzzy-wuzzy: #E56353;

//Third color scheme
$eerie-black: #121619;
$raisin-black:#222323;
$nickel: #6C6E70;

//Fourth color scheme
$steel-blue: #4682b4;
//****************************

//Typography
//Font Family
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

//Font Weight
$font-light: 300;
$font-regular: 400;
$font-black: 900;

//Font Sizes
$xx-large: 40px;
$x-large: 24px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
