.hero-section {
    position: relative;
    width: 100vw;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 18;

    &__news-container {
        width: 75%;
        float: left;

        @media (max-width: 955px) {
            width: 66%;
        }

        @media (max-width: 768px) {
            width: 45%;
        }

        @media (max-width: 576px) {
            width: 100vw;
        }

    }

    &__news {
        font-family: $playfair;
        width: 300px;
        display: inline-block;
        margin: 10px;
        cursor: pointer;

        @media (max-width: 576px) {
            width: 100vw;
        }
    }

    &__body img {
        width: 280px;
        height: auto;

        @media (max-width: 576px) {
            width: 100vw;
        }
    }

    &__body p {
        padding: 5px 10px;
    }
}